.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.backdrop-quick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 40;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.modal-confirmation {
  position: fixed;
  top: 20vh;
  left: 20%;
  width: 60%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: pop-out .3s ease-out;
}

.modal-quick-popup {
  position: fixed;
  top: 30vh;
  left: 20%;
  width: 60%;
  background-color: white;
  padding: 1rem;
  padding-bottom: 2px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 50;
  animation: pop-out .3s ease-out;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }

  .modal-confirmation {
    width: 15rem;
    left: calc(65% - 20rem);
  }

  .modal-quick-popup {
    width: 15rem;
    left: calc(65% - 20rem);
  }
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .modal-confirmation {
    width: 15rem;
    left: calc(75% - 20rem);
  }

  .modal-quick-popup {
    width: 15rem;
    left: calc(75% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop-out {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}